@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply ultrawide:text-5xl;
  }
}

@keyframes insert {
  0%,
  100% {
    transform: translateY(-20%);
    animation-timing-function: "ease";
  }
  50% {
    transform: none;
    animation-timing-function: "linear";
  }
}
